<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wishlist-container">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="add-wish-button">Зарегистрироваться</button>
        </form>
        <a href="/accounts/login/" class="form-link">Уже есть аккаунт? Войдите</a>
    </div>
</body>
</html>
